*.square
*.key
*.id
*.posts
*.members
*.name
*.lock
test.txt
*.jar
staging/
output.txt
META-INF/
build.xml
*.zip
.vscode/launch.json
.vscode/settings.json
*.log
*.invite
*.alias
*.pause
sample2.fxml
iron-maiden.jpg
iron-maiden-2.jpg
anakin.jpg
IMG_20151212_0002.jpg
16402951_1575458495803060_4278867455479683407_o(1).jpg
percy-jackson.jpg
test.jpg
.DS_Store
javafx-sdk-11.0.2/
javafx/
jdk-11.0.9/
test/
openjdk-11.0.2_osx-x64_bin.tar.gz
jdk-11.0.2.jdk/